*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;   
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0; 
    left : 0;
    z-index: 1; 
    background: #272634;
    padding-top: 60px;
    overflow-x: hidden;
    transition: all 0.5s;
}
.sidenav a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    padding: 20px 0 20px 0px;
}
.sidenav a :hover{
    color: rgba(2555,255,255,0.7);
}
.closebtn{
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 40px!important;
}