*{
   margin : 0% ;padding: 0;
   box-sizing: border-box;
   width: 100%; height: 100vh;
}
body{
    font-family: 'Festive', cursive;;
    font-size: xx-large;
    list-style: none;
    text-decoration: none;
    justify-content: center; align-items:  center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url(/happy-image-5.jpg);
    background-size : 100% 100%; 
}
h1{ 
    margin: 15% 45%;
    width: 100%;
    color: white;
    font-weight: bold;
}